.MovieCard {
  display: inline-block;
  margin-right: 5px;
  width: 100px;
}

.MovieCard .poster {
  text-align: center;
}

.MovieCard .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
